
@{
    ViewBag.Title = "Avenzo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-success"><i class="fa fa-check fa-3x" aria-hidden="true"></i> Enviado correctamente</h2>
            <p>Se le ha enviado un correo para el cambio de contraseña.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("ul.sf-menu li").removeClass("current-menu-item");
        $("ul.sf-menu li").removeClass("current_page_item");
        
    });
</script>
