
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Avenzo Tecnología</h2>
            <p>Nuestro equipo experto está orientado a diseñar y brindar soluciones personalizadas de tecnología que contribuyan a eficientar los procesos operativos y administrativos de la empresa, a través de diversas plataformas de desarrollo y de consulta de datos que nos permiten garantizar nuestro compromiso de servicio y calidad para que tu puedas tomar decisiones oportunas de negocio.</p>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <div class="btn-group">
                <button class="btn btn-info active" id="btnSupport">App Support</button>
                <button class="btn btn-info" id="btnSoftware">V Software</button>
                <button class="btn btn-info" id="btnSass">Licencia SaaS</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row" id="Support">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:transparent;">App Support</div>
                <div class="panel-body">
                   <p>Soporte de aplicaciones que conlleva a la eficiencia de los procesos operativos y administrativos de tu empresa, a través de un servicio especializado y empático.</p>
                    <p>Garantías:</p>
                    <ul style="list-style:none">
                        <li class="row">
                            <img src="~/Images/Icons/Capacitación_Azul.png" width="150" />
                            Capacitación
                        </li>
                        <li class="row">
                            <img src="~/Images/Icons/ManualUsuario-Azul.png" width="150" />
                            Manual de usuario
                        </li>
                        <li class="row">
                            <img src="~/Images/Icons/SoporteTecnicoPersonalizado_Azul.png" width="150" />
                            Soporte técnico personalizado
                        </li>
                        <li class="row">
                            <img src="~/Images/Icons/Actualizaciones_Azul.png" width="150" />
                            Actualizaciones
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:transparent;">Proceso</div>
                <div class="panel-body">
                    <img src="~/Images/AppSupport.png" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="VSoftware" style="display:none">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:transparent;"> V Software</div>
                <div class="panel-body">
                    <p>Desarrollamos software a la medida para facilitar los procesos operativos, reducir costos y agregar valor a tu empresa.</p>
                    <h3>Metodologías de Desarrollo</h3>
                    <p>Para el desarrollo óptimo de software utilizamos dos metodologías base: Scrum Process y el Kanban JIT, que garantizan tu operación.</p>
                    <h3>Scrum Process</h3>
                    <p>Este modelo de desarrollo es muy flexible y se adapta a las necesidades, gestionando tus expectativas a través de una lista de tareas priorizada y una demostración de los resultados anticipados.</p>
                    <h3>Kanban JIT</h3>
                    <p>Un eficiente sistema que nos permite organizar el proceso desde el punto de vista de la producción, basándose en la demanda del mismo.</p>
                    
                    <div class="row">
                        <div class="col-md-12">Garantias:</div>
                    </div>
                    <div class="row">
                        <img class="col-md-2" src="~/Images/Icons/Hypercare_Azul.png" /><text class="col-md-10"><b>Hypercare</b><br />Nuestro compromiso de calidad y servicio nos permite brindarte 30 días de acompañamiento y asistencia personalizada para llevar a cabo los cambios y adaptaciones necesarias que requiere el software después de implementado.</text>
                    </div>
                    <br />
                    <div class="row">
                        <img class="col-md-2" src="~/Images/Icons/DocumentacionPart11-Azul.png" /><text class="col-md-10"><b>Documentación 21 CFR Part 820 - Quality System Regulation</b><br />Nuestros sistemas están listos para ser auditados ante la FDA, si la empresa lo requiere, apegándonos siempre a los requerimientos señalados por este organismo.</text>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:transparent;">Proceso</div>
                <div class="panel-body">
                    <img src="~/Images/Scrum_Process.png" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="Licencia" style="display:none">
        <div class="col-md-12">
            <h2>Licencia de SaaS</h2>
            <p>
                Contamos con una cartera de aplicaciones para atender las necesidades de tu empresa. Una excelente opción para hacer más eficientes los procesos administrativos y operativo si buscas reducir costos y riesgos.
                Nuestras SaaS se adaptan a tu forma de trabajo y son fáciles de operar. Incluyen:
            </p>
            <ul style="list-style:none">
                <li class="row">
                    <img src="~/Images/Icons/Capacitación_Azul.png" width="150" />
                    Capacitación
                </li>
                <li class="row">
                    <img src="~/Images/Icons/ManualUsuario-Azul.png" width="150" />
                    Manual de usuario
                </li>
                <li class="row">
                    <img src="~/Images/Icons/SoporteTecnicoPersonalizado_Azul.png" width="150" />
                    Soporte técnico personalizado
                </li>
                <li class="row">
                    <img src="~/Images/Icons/Actualizaciones_Azul.png" width="150" />
                    Actualizaciones
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2>Metodologías de Desarrollo</h2>
            <p>Para el desarrollo óptimo de software utilizamos dos metodologías base: Scrum Process y el Kanban JIT, que garantizan tu operación.</p>
        </div>
        <div class="col-md-12">
            <h2>Scrum Process</h2>
            <p>Este modelo de desarrollo es muy flexible y se adapta a las necesidades, gestionando tus expectativas a través de una lista de tareas priorizada y una demostración de los resultados anticipados.</p>
            <br />
            <div class="row">
                <div class="col-md-12">Garantias:</div>
            </div>
            <div class="row">
                <img class="col-md-2" src="~/Images/Icons/Hypercare_Azul.png" /><text class="col-md-10"><b>Hypercare</b><br />Nuestro compromiso de calidad y servicio nos permite brindarte 30 días de acompañamiento y asistencia personalizada para llevar a cabo los cambios y adaptaciones necesarias que requiere el software después de implementado.</text>            
            </div>
            <br />
            <div class="row">
                <img class="col-md-2" src="~/Images/Icons/DocumentacionPart11-Azul.png" /><text class="col-md-10"><b>Documentación 21 CFR Part 820 - Quality System Regulation</b><br />Nuestros sistemas están listos para ser auditados ante la FDA, si la empresa lo requiere, apegándonos siempre a los requerimientos señalados por este organismo.</text>
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h1>¿Por qué Avenzo Tecnología?</h1>
        </div>
        <div class="col-md-12">
            <ul style="list-style:none">
                <li class="row">
                    <br />
                    <img src="~/Images/Icons/RespaldoConfianza_Azul.png" width="80" class="col-md-1" />
                    <text class="col-md-11">Nuestro compromiso es brindarte un soporte integral que conlleve a soluciones efectivas y personalizadas que contribuyan a la eficiencia de la operación, reducción de costos y riesgos.</text>
                </li>
                <li class="row">
                    <br />
                    <img src="~/Images/Icons/TalentoHumano_Azul.png" width="80" class="col-md-1" />
                    <text class="col-md-11">Nuestro equipo de desarrolladores está altamente capacitado y en constante mejora continua para servirte oportunamente.</text>
                </li>
                <li class="row">
                    <br />
                    <img src="~/Images/Icons/TeEntendemos_Azul.png" width="80" class="col-md-1" />
                    <text class="col-md-11">Hablamos tu mismo lenguaje y ayudamos a transformar tus ideas en soluciones.</text>
                </li>
                <li class="row">
                    <br />
                    <img src="~/Images/Icons/Calidad_Azul.png" width="80" class="col-md-1" />
                    <text class="col-md-11">La calidad de nuestros productos y servicios es respaldada por nuestra metodología y cultura corporativa.</text>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h1>Q Platforms</h1>
            <p>Utilizamos diversas plataformas de desarrollo y consulta de datos que nos permiten garantizar nuestro compromiso de servicio y calidad.</p>
            <br />
            <div class="owl-carousel">
                <div> <img src="~/Images/logos/MicrosoftSQLServer.png" style="height:75px; width:auto;" class="img-gray"/></div>
                <div><img src="~/Images/logos/HTML5_Logo_512.png" style="height:90px;width:auto" class="img-gray"/></div>
                <div> <img src="~/Images/logos/jQurery.gif" style="height:90px; width:auto;"  class="img-gray"/> </div>
                <div> <img src="~/Images/logos/windows-azure-logo_399x239.png" style="height:90px; width:auto;"  class="img-gray"/></div>
                <div> <img src="~/Images/logos/javascript.png" style="height:90px; width:auto;"  class="img-gray"/></div>
                <div> <img src="~/Images/logos/2p4i.png" style="height:90px; width:auto;"  class="img-gray"/></div>
            </div>
        </div>



    </div>
</div>



<script>
    $(document).ready(function () {
        $("ul.sf-menu li").removeClass("current-menu-item");
        $("ul.sf-menu li").removeClass("current_page_item");
        $("#navTecnologia").addClass("current-menu-item");
        $("#navTecnologia").addClass("current_page_item");
        $('#btnSoftware').click(function () {
            $('#Licencia').fadeOut(700);
            $('#Sass').fadeOut(700);
            $('#Support').fadeOut(700);
            $('#VSoftware').delay(700).fadeIn(700);            
            $('#btnSupport').removeClass('active');
            $('#btnSass').removeClass('active');            
            $(this).addClass('active');
        });
        $('#btnSupport').click(function () {
            $('#Licencia').fadeOut(700);            
            $('#VSoftware').fadeOut(700);
            $('#Support').delay(700).fadeIn(700);
            $('#btnSoftware').removeClass('active');
            $('#btnSass').removeClass('active');
            $(this).addClass('active');
        });
        $('#btnSass').click(function () {
            
            $('#VSoftware').fadeOut(700);
            $('#Support').fadeOut(700);
            $('#Licencia').delay(700).fadeIn(700);
            $('#btnSupport').removeClass('active');
            $('#btnSoftware').removeClass('active');
            $(this).addClass('active');
        });
        $(".owl-carousel").owlCarousel();
    });
</script>