
@{
    //ViewBag.Title = "Index";
    Layout = null;/*"~/Views/Shared/_Layout.cshtml"*/;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red" data-header-animation="true">
                    <i class="material-icons">error</i>
                </div>
                <div class="card-content">
                    
                </div>
                <div class="row">
                    <div class="col-md-10 col-lg-offset-1 text-center">
                        <h2> @ViewBag.Title</h2>
                        <h4>@ViewBag.Message</h4>
                        <h4>@ViewBag.Description</h4>
                        
                        <br />
                        <br />
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#AppView").fadeIn(500);
    });
</script>


