
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/AvenzoFiscal_logo.jpg" style="width:100%;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>¿Porqué Avenzo Fiscal?</h2>
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Respaldo de Confianza</h3>
                    <p>Nuestro compromiso es bridarte un soporte integral que conlleve a soluciones <b>efectivas y personalizadas</b> que contribuyan a la  gestión eficiente cumpliendo con las obligaciones contables y fiscales.</p>
                </div>
                <div class="col-md-12">
                    <h3>Talento Humano</h3>
                    <p>Nuestro equipo de expertos esta altamente capacitado y en constante mejora continua <b>servirte oportunamente.</b></p>
                </div>
                <div class="col-md-12">
                    <h3>Innovamos</h3>
                    <p>desarrollamos y eficientamos procesos que permiten hacer crecer tu negocio</p>
                </div>
                <div class="col-md-12">
                    <h3>Soporte técnico</h3>
                    <p>Ponemos a tu disposición lo último en tecnología para resolver problemas de forma sencilla, automatizar y medir procesos que te <b>ahorren dinero, tiempo y esfuerzo.</b></p>
                </div>
                <div class="col-md-12">
                    <img src="~/Images/AvenzoFiscal_CicloComercial-019.jpg" style="width:100%;border-radius:5px;"/>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>Servicios</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Images/AvenzoFiscal_CicloComercial-022.jpg" style="width:100%;border-radius:5px;"/>
                </div>
                <div class="col-md-12">
                    <h3>Contabilidad</h3>
                    <ul>
                        <li>Captura de movimientos contables originados durante cada mes, los cuales seran recopilados en un sistema de cómputo.</li>
                        <li>Revisión periódica de sus cuentas bancarias de inversión, así como la elaboración de conculiaciones bancarias mensuales.</li>
                        <li>Entrega de informe sobre situación fiscal de forma quincenal, con el objetivo de verificar sus ingresos y gastos para que los comprobantes originados cumplan con las disposiciones fiscales vigentes</li>
                        <li>Entrega quincenal y mensual de estado de resultados</li>
                        <li>Presentación de registros ante la "Secretarui de hacienda y Crédito Público", de la "Secretaria de finanzas de Estado" y "Secretaria de Economía".</li>
                        <li>Presentación de avisos derivados por cambios, aclaraciones y otros asuntos ante las oficinas gubernamentales.</li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Impuestos ISR e IVA</h2>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>Elaboración del cálculo de los pagos referenciados mensuales.</li>
                        <li>Elaboración del cálculo de la declaración anual del ejercicio del impuestos sobre la renta.</li>
                        <li>Elaboración de las declaraciones informativas mensuales y del ejercicio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Software</h3>
            <p>
                Herramientas y sistemas administrativos, contables y  de facturación electrónica para la gestión efectiva y oportuna de tu negocio.
                <ul>
                    <li>Plataforma para el control, generación y envio de CFDI</li>
                    <li>Plataforma Punto de venta para control de invetarios</li>
                    <li>Plataforma de nómina</li>

                </ul>
            </p>
        </div>
        <div class="col-md-12">
            <p>Llevar la contabilidad el dia, es como alimentarte todos los días, es la mejor forma de mantener la salud financiera de tu empresa y prepararla para crecer.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("ul.sf-menu li").removeClass("current-menu-item");
        $("ul.sf-menu li").removeClass("current_page_item");
        $("#navFiscal").addClass("current-menu-item");
        $("#navFiscal").addClass("current_page_item");
    });
</script>