@if (User.IsInRole("Admin"))
{<!--
    <ul>
        <li><a>Administracion</a></li>
        <li><a>Clientes</a></li>
        <li><a>Contactos</a></li>
        <li><a href="/Usuario/Logout">Cerrar Session</a></li>
        
    </ul>-->
}
