<section id="rt-showcase-surround">
    <div id="rt-showcase" class="slider-container rt-overlay-dark">
        <div class="rt-container slider-container">
            <div class="rt-grid-12 rt-alpha rt-omega">


                <link rel="stylesheet" href="style.css">
                <!--[if IE]><link rel="stylesheet" href="http://cssslider.com/sliders/demo-10/engine1/ie.css"><![endif]-->
                <!--[if lte IE 9]><script type="text/javascript" src="http://cssslider.com/sliders/demo-10/engine1/ie.js"></script><![endif]-->
                <script type="text/javascript" src="http://cssslider.com/sliders/demo-10/engine1/gestures.js"></script>

                <div class="csslider1 autoplay cs_handle">
                    <input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_slide1_3" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_slide1_4" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_slide1_5" type="radio" class="cs_anchor slide">
                    <input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked="">
                    <input name="cs_anchor1" id="cs_pause1_0" type="radio" class="cs_anchor pause">
                    <input name="cs_anchor1" id="cs_pause1_1" type="radio" class="cs_anchor pause">
                    <input name="cs_anchor1" id="cs_pause1_2" type="radio" class="cs_anchor pause">
                    <input name="cs_anchor1" id="cs_pause1_3" type="radio" class="cs_anchor pause">
                    <input name="cs_anchor1" id="cs_pause1_4" type="radio" class="cs_anchor pause">
                    <input name="cs_anchor1" id="cs_pause1_5" type="radio" class="cs_anchor pause">
                    <a class="cs_lnk" href="https://mobirise.com/bootstrap-carousel/">bootstrap slider</a>
                    <ul>
                        <div>
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" style="width: 100%;">
                        </div>
                        <li class="num0 img">
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_89578807.jpg" alt="jQuery  slider " title="Material Design">
                        </li>
                        <li class="num1 img">
                            <a href="https://mobirise.com/bootstrap-carousel/" target="_blank"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_100369856.jpg" alt="bootstrap slider" title="Material Design"></a>
                        </li>
                        <li class="num2 img">
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_175215416.jpg" alt="Wordpress  slider " title="Material Design">
                        </li>
                        <li class="num3 img">
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_125882543.jpg" alt="Wordpress  slider " title="Material Design">
                        </li>
                        <li class="num4 img">
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_160166114.jpg" alt="Wordpress  slider " title="Material Design">
                        </li>
                        <li class="num5 img">
                            <img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_188319986.jpg" alt="Wordpress  slider " title="Material Design">
                        </li>
                    </ul>                    
                    <div class="cs_description">
                        <label class="num0">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 0</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 0</span></span>
                        </label>
                        <label class="num1">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 1</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 1</span></span>
                        </label>
                        <label class="num2">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 2</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 2</span></span>
                        </label>
                        <label class="num3">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 3</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 3</span></span>
                        </label>
                        <label class="num4">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 4</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 4</span></span>
                        </label>
                        <label class="num5">
                            <span class="cs_title"><span class="cs_wrapper">Titulo 5</span></span>
                            <br><span class="cs_descr"><span class="cs_wrapper">Texto 5</span></span>
                        </label>
                    </div>

                    <div class="cs_arrowprev">
                        <label class="num0" for="cs_slide1_0"><span><i></i></span></label>
                        <label class="num1" for="cs_slide1_1"><span><i></i></span></label>
                        <label class="num2" for="cs_slide1_2"><span><i></i></span></label>
                        <label class="num3" for="cs_slide1_3"><span><i></i></span></label>
                        <label class="num4" for="cs_slide1_4"><span><i></i></span></label>
                        <label class="num5" for="cs_slide1_5"><span><i></i></span></label>
                        
                    </div>
                    <div class="cs_arrownext">
                        <label class="num0" for="cs_slide1_0"><span><i></i></span></label>
                        <label class="num1" for="cs_slide1_1"><span><i></i></span></label>
                        <label class="num2" for="cs_slide1_2"><span><i></i></span></label>
                        <label class="num3" for="cs_slide1_3"><span><i></i></span></label>
                        <label class="num4" for="cs_slide1_4"><span><i></i></span></label>
                        <label class="num5" for="cs_slide1_5"><span><i></i></span></label>
                    </div>

                    <div class="cs_bullets">
                        <label class="num0" for="cs_slide1_0">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_89578807.jpg" alt="Wordpress  slider " title="Material Design" style="width:150px;"></span>
                        </label>
                        <label class="num1" for="cs_slide1_1">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_100369856.jpg" alt="bootstrap image slider" title="Material Design" style="width:150px;"></span>
                        </label>
                        <label class="num2" for="cs_slide1_2">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_175215416.jpg" alt="HTML5  slideshow " title="Material Design" style="width:150px;"></span>
                        </label>
                        <label class="num3" for="cs_slide1_3">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_125882543.jpg" alt="HTML5  slideshow " title="Material Design" style="width:150px;"></span>
                        </label>
                        <label class="num4" for="cs_slide1_4">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_160166114.jpg" alt="HTML5  slideshow " title="Material Design" style="width:150px;"></span>
                        </label>
                        <label class="num5" for="cs_slide1_5">
                            <span class="cs_point"></span>
                            <span class="cs_thumb"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_188319986.jpg" alt="HTML5  slideshow " title="Material Design" style="width:150px;"></span>
                        </label>
                    </div>

                    <div class="cs_gestures"><div style="transform: translate3d(-830px, 0px, 0px); transition: transform 90ms linear;"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" alt="Wordpress  slider " title="Material Design" class="cs_first_img"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" alt="jQuery  slider " title="Material Design"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" alt="bootstrap slider" title="Material Design"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" alt="Wordpress  slider " title="Material Design"><img src="Avenzo Seguridad Fotos\Seguridad\shutterstock_75178804.jpg" alt="jQuery  slider " title="Material Design" class="cs_last_img"></div></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>