<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="TestApp.Properties.Settings.AlarmasConnectionString"
            connectionString="Data Source=IVAN-PC\SQLEXPRESS;Initial Catalog=Monitoreo;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <add name="AvenzoSeguridadEntities" connectionString="metadata=res://*/AvenzoSeguridadModel.csdl|res://*/AvenzoSeguridadModel.ssdl|res://*/AvenzoSeguridadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AvenzoSeguridad.db.5584190.hostedresource.com;initial catalog=AvenzoSeguridad;user id=AvenzoSeguridad;password=Teclado01!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AvenzoSeguridad2Entities" connectionString="metadata=res://*/AvenzoProteccion.csdl|res://*/AvenzoProteccion.ssdl|res://*/AvenzoProteccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AvenzoSeguridad2.db.5584190.hostedresource.com;initial catalog=AvenzoSeguridad2;user id=avenzoseguridad2;password=Teclado01!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=AvenzoSeguridad.db.5584190.hostedresource.com; Initial Catalog=AvenzoSeguridad; User ID=AvenzoSeguridad; Password='Teclado01!';" />
    <add key="alarmSound" value="C:\\Program Files\\Avenzo\\Avenzo Proteccion\\Alarm\\alarm.wav"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>